{
  "title": "Your Site Title",

  // Displaying the source on you nav-bar
  "host_link": "https://github.com/nkj20932/power-build",
  "host_display_text": "GitHub",

  // Select the folder you store images
  "root_folder": "storage",

  // Website language: either "zh-tw" or "en"
  "language": "zh-tw",

  "Push to GitHub after generation": false
}
