{
  "title": "圖片戰爭",

  // Displaying the source on you nav-bar
  "host_link": "https://github.com/cstony0917/warofpic",
  "host_display_text": "GitHub",

  // Select the folder you store images
  "root_folder": "storage",

  // A short description on homepage
  "description": "",

  // Website language: either "zh-tw" or "en"
  "language": "zh-tw"
}
